bucket                      = "tf-state-cloudflare-infra"
key                         = "cloudflare-infra/terraform.tfstate"
region                      = "us-east-1"
endpoint                    = "https://<cloudflare_account_id>.r2.cloudflarestorage.com"
skip_credentials_validation = true
skip_region_validation      = true
skip_metadata_api_check     = true
skip_requesting_account_id  = true
force_path_style            = true
